@import '~bootstrap/scss/bootstrap';


.container {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
  }
  
  th, td {
    border: 1px solid black;
    padding: 12px;
    text-align: left;
    font-size: 18px;
    width: 25%;
  }
  
  th {
    background-color: lightgray;
    font-weight: bold;
  }
  
  td {
    background-color: white;
  }
  
  
  
